@page "/"
@inject HttpClient Http

<PageTitle>Index</PageTitle>
<div class="map-container" >
    <HexGrid Rows=10 Columns=10 ></HexGrid>
</div>

@code {
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}